html {
    overflow-x:hidden;
  }
  
  body {
    overflow-x:hidden;
  }

  h2 {
      font-weight:600;
  }

  @media (max-width: 768px) {
    #main {
        padding:0px 50px;
    }
  }

  @media (max-width: 1080px) {
    #main {
        padding:0px 100px;
    }
  }

  @media (min-width: 1081px) {
    #main {
        padding:0px 150px;
    }
  }

  .Intro {
      display: flex;
      -webkit-box-pack:center;
      justify-content:center;
      -webkit-box-align:center;
      flex-direction: column;
      align-items:flex-start;
      min-height:100vh;
      padding:0px;
  }
  

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .navbar {
    background: transparent;
    position:absolute;
    right:10px;
 }
 
 .nav-link {
    font-size: 1rem;
     color:aquamarine;
     font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
 }

 .nav-link:hover {
     color: aliceblue;
 }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  img {
    margin:3px;
  }
  
  
  .card{
    padding:10px;
  }
  
  .card-title{
    font-size:14pt;
    font-weight: bold;
  }
  
  .text{
    font-size: 10pt;
  }
  
  .img-border{
    border:1px solid #e9ecef;
  }
  
  @media only screen and (max-width: 575.98px) {
  
  
    p {
      font-size:10pt;
    }
  
  }
  
  
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
  
  
    p {
      font-size:11.5pt;
    }
  
  }
  
  
  @media only screen and (min-width: 768px) and (max-width: 991.98px) {
  
    p {
      font-size:12.5pt;
    }
  
  }
  
  
  @media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  
  
    p {
      font-size:13pt;
    }
  
  }
  
  
  @media only screen and (min-width: 1200px) {
  
  
    p {
      font-size:14pt;
    }
  
  }

  .small-heading{
      color:aquamarine;
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  }

  .mid-heading {
    color: #8892b0;
    margin: 0px;
    font-size: clamp(36px, 8vw, 50px);
  }

  .big-heading {
      color: #ccd6f6;
      margin: 0px;
      font-size: clamp(40px, 8vw, 60px);
  }

  .about-heading {
    color: #ccd6f6;
    margin: 0px;
    font-size: clamp(26px, 8vw, 40px);
    display:block;
    line-height:2.5;
  }
  
  .lead {
    color: #a9b4d3;
  }

  .lead a, b{
      color:aliceblue;
  }

  .skills {
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
      font-size: clamp(12pt, 8vw, 10pt);
      display:block;
  }

  .skills li {
    color: aquamarine;
  }

  .p-link {
      color: aquamarine;
  }
  

  .img-thumb {
      float:right;
      opacity: 0.8;
      display:block;
  }
 .col {
     display:block;
 }
  .img-thumb {
      border: 2px solid #ccd6f6;
      top: 20px;
      left: 20px;
      z-index: -1;
  }

  @media (max-width: 360px) {
    .img-thumb {
        min-width:100px;
    }
  }

  @media (min-width: 361px) and (max-width: 480px) {
    .img-thumb {
        min-width:150px;
    }
  }

  @media (min-width: 481px) and (max-width: 575.98px) {
    .img-thumb {
        min-width:250px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .img-thumb {
        min-width:300px;
    }
  }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .img-thumb {
            min-width:350px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        .img-thumb {
            min-width:400px;
        }
    }

    @media (min-width: 1200px) {
        .img-thumb {
            min-width:450px;
        }
    }

  .img-thumb:hover {
      opacity:1;
  }

  #experience {
    line-height:2.5;
  }

  .experience-heading {
    color: #ccd6f6;
    margin: 0px;
    font-size: clamp(26px, 8vw, 40px);
    display:block;
    line-height:2.5;
  }

  .timeline {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}


.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #4b546f;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #bcd0f7;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: rgb(38, 39, 39);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:4px solid aquamarine;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    opacity:0.9;
}


.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
.timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #272e48;
    margin-bottom: 10px;
    display: inline-block;
}
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}
  
  .content {
    display: block;
    overflow: hidden;
    margin: auto;
  }
  
  .content div {
    width: 400px;
    height: 200px;
    border: 10px solid #202746;
    margin-top:50px;
    margin-bottom:50px;
  }

 .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 54rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  