img {
  margin:3px;
}


.card{
  padding:10px;
}

.card-title{
  font-size:14pt;
  font-weight: bold;
}

.text{
  font-size: 10pt;
}

.img-border{
  border:1px solid #e9ecef;
}

@media only screen and (max-width: 575.98px) {


  p {
    font-size:10pt;
  }

}


@media only screen and (min-width: 576px) and (max-width: 767.98px) {


  p {
    font-size:11.5pt;
  }

}


@media only screen and (min-width: 768px) and (max-width: 991.98px) {

  p {
    font-size:12.5pt;
  }

}


@media only screen and (min-width: 992px) and (max-width: 1199.98px) {


  p {
    font-size:13pt;
  }

}


@media only screen and (min-width: 1200px) {


  p {
    font-size:14pt;
  }

}

.content {
  display: block;
  overflow: hidden;
  margin: auto;
}

.content div {
  width: 400px;
  height: 200px;
  border: 10px solid #202746;
  margin-top:50px;
  margin-bottom:50px;
}

/*
.content div:nth-child(1) {
  float: left;
}

.content div:nth-child(2) {
  float: right;
}

.content div:nth-child(3) {
  float: left;
}

.content div:nth-child(4) {
  float: right;
}

.content div:nth-child(5) {
  float: left;
}

.content div:nth-child(6) {
  float: right;
}

.content div:nth-child(7) {
  float: left;
}