html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.section {
  width: 100vw;      /* 100% of the viewport width */
  height: 100vh;     /* 100% of the viewport height */
  overflow: hidden;  /* Prevents scrolling inside each section */
  /* Add more styling as needed */
}

#header {
  background-color: seagreen;
}

#about {
  background-color: blanchedalmond;
}

#footer {
  background-color: aquamarine;
}
